<div class="tabs-container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#login">Login</a></li>
        <li class="tab col s6"><a href="#register">Sign Up</a></li>
      </ul>
    </div>
    <div id="login" class="col s6 offset-l3">
      <h2 class="center">Login</h2>
      {{#if loginError}}
        <div class="alert alert-danger">{{loginError}}</div>
      {{/if}}
      <form action="/auth/login" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input name="email" id="email" type="text" class="validate">
            <label class="active" for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="password" id="pssw" type="password" class="validate">
            <label class="active" for="pssw">Password</label>
          </div>
        </div>
        <p><a href="/auth/reset">Forget password ?</a></p>
        <button class="btn waves-effect waves-light" type="submit">Submit</button>
        <input type="text" name="_csrf" value="{{csrf}}" hidden>
      </form>
    </div>
    <div id="register" class="col s6 offset-l3">
      <h2 class="center">Sign Up</h2>
      {{#if registerError}}
      <div class="alert alert-danger">{{registerError}}</div>
      {{/if}}
     <form action="/auth/register" method="POST">
         <div class="row">
          <div class="input-field col s12">
            <input name="name" id="name" type="text" class="validate">
            <label class="active" for="name">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="email" id="remail" type="text" class="validate">
            <label class="active" for="remail">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="password" id="rpassword" type="password" class="validate">
            <label class="active" for="rpassword">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="repeat" id="conf_passw" type="password" class="validate">
            <label class="active" for="conf_passw">Confirm password</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Submit</button>
        <input type="text" name="_csrf" value="{{csrf}}" hidden>
      </form>

    </div>
  </div>
</div>