<div class="tabs-container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#login">Login</a></li>
        <li class="tab col s6"><a href="#register">Sign Up</a></li>
      </ul>
    </div>
    <div id="login" class="col s6 offset-l3">
      <h2 class="center">{{title}}</h2>
      <form action="/auth/login" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input name="email" id="email" type="text" class="validate">
            <label class="active" for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="password" id="pssw" type="password" class="validate">
            <label class="active" for="pssw">Password</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Submit</button>
      </form>
    </div>
    <div id="register" class="col s6 offset-l3">
      <h2 class="center">Sign Up</h2>
     <form action="/auth/login" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input name="remail" id="remail" type="text" class="validate">
            <label class="active" for="remail">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="r_password" id="rpassword" type="password" class="validate">
            <label class="active" for="rpassword">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="r_conf_passw" id="conf_passw" type="password" class="validate">
            <label class="active" for="conf_passw">Confirm password</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Submit</button>
      </form>

    </div>
  </div>
</div>