{{>head}}

<body>
    {{>navbar}}
    <!-- body - in body wraped content of index.hbs (about.hbs), hbs files in views folder -->
    <div class="container">
        {{{body}}}
    </div>

    {{>foot}}
</body>

</html>