<div class="course">
    <div class="flexible aCenter vertical">
        <h2>{{course.title}}</h2>
        <div class="image-content">
            <img src={{course.image}} alt={{course.title}}>
        </div>
        <div class="price big">
            <span>{{course.price}}</span>
        </div>
    </div>
</div>