<h2>Profile</h2>


<div class="row">
    <div class="col s6">
        <img src="https://cdn-media-1.freecodecamp.org/images/0*xkJgg-6HskYrQ3N7.jpeg" alt="profile  image">

        <p>Not have avatar</p>
    </div>
    <div class="col s6">
        <form action="/profile" method="POST" enctype="multipart/form-data">
            <div class="row">
                <p>Your email: <span>{{user.email}}</span></p>
                <div class="input-field col s12">
                    <input name="name" id="name" type="text" class="validate" value="{{user.name}}" required>
                    <label class="active" for="name">Name</label>
                </div>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Avatar</span>
                    <input type="file" name="avatar">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <button class="btn btn-large" type="submit">change</button>

            <input type="text" name="_csrf" value="{{csrf}}" hidden>

        </form>
    </div>
</div>